/* Compiled by AOS */

@charset "UTF-8";
.pd - acgraph.pd - acgraph - legend - wrap, .pd - witb {
    text - align: center
}
.pd - l - plate {
    position: relative;
    margin: 0 auto;
    width: 980 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - l - plate {
        width: 84 %
    }
}
.pd - l - plate - scale {
    position: relative;
    margin: 0;
    width: 100 %
}
.pd - l - half {
    width: 50 %;
    float: left
}
.pd - l - half+ .pd - l - half {
    float: right
}
.pd - theme - dark {
    color: #fff;
    text - shadow: 0 0 30 px rgba(0, 0, 0, .5)
}
.pd - theme - dark a {
    color: #fff;
    text - shadow: none
}
.pd - theme - dark - blue {
    color: #fff;
    text - shadow: 0 0 30 px rgba(0, 0, 0, .5)
}
.pd - theme - dark - blue a {
    text - shadow: none
}
.pd - theme - light, .pd - theme - light a {
    color: #333
}
.pd-billboard p {
    margin: 0
}
.pd-billboard-links li a {
    white-space: nowrap
}
.pd-billboard-scale .pd-l-plate-scale .pd-billboard-background {
    line-height: 0
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-l-half, .pd-l-half+.pd-l-half {
        float: none
    }
    .pd-l-half {
        width: 100%
    }
    .pd-billboard-scale .pd-l-plate-scale .pd-billboard-background {
        position: absolute;
        width: 100%;
        text-align: center;
        margin: 0
    }
}
.pd-billboard-scale .pd-l-plate-scale .pd-billboard-hero {
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -720px
}
@media only screen and (min-width:1440px) {
    .pd-billboard-scale .pd-l-plate-scale .pd-billboard-hero {
        width: 100%;
        height: auto;
        position: static;
        margin: 0
    }
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-billboard-scale .pd-l-plate-scale .pd-billboard-hero {
        margin: 0 -368px;
        width: 737px;
        height: auto;
        position: static
    }
}
.pd-billboard-scale .pd-l-plate-scale .pd-billboard-info {
    position: absolute;
    z-index: 1;
    top: 49.9%;
    width: 980px;
    right: 0;
    left: 0;
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.as-carousel .pd-billboard-scale .pd-l-plate-scale .pd-billboard-info, .as-navtuck .pd-billboard-scale .pd-l-plate-scale .pd-billboard-info {
    top: 61.5%
}
.pd-witb {
    margin-bottom: 50px
}
.pd-witb-header {
    padding: 100px 0;
    font-size: 52px;
    line-height: 1.08654;
    font-weight: 300
}
.pd-witb-column+.pd-witb-column {
    height: 100%
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-billboard-scale .pd-l-plate-scale .pd-billboard-info {
        width: 320px
    }
    .pd-witb-header {
        padding: 46px 0 0;
        font-size: 32px;
        line-height: 1.125
    }
    .pd-witb-column+.pd-witb-column {
        margin-left: 0;
        border-left: 0
    }
    .pd-witb-column+.pd-witb-column.small-12 {
        border-left: none;
        margin-left: 0
    }
    .pd-witb-column+.pd-witb-column [class*=small - pull - 0], .pd - witb - column[class *=large - pull -] {
        border - right: 0;
        margin - right: 0
    }
}
.pd - witb - column[class *=large - pull -] {
    border - left: none;
    margin - left: 0
}
.pd - witb - hero {
    padding: 60 px 0
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - witb - hero {
        padding: 30 px 0
    }
}
.pd - witb - item {
    padding: 60 px 0
}
.pd - witb - subheader {
    font - size: 16 px;
    line - height: 1.5;
    font - weight: 400
}
.ps - dimensions - color - screensize.gone, .ps - dimensions - color.gone, .ps - dimensions - screensize.gone, .ps - dimensions.gone {
    display: none
}
.pd - acgraph {
    width: 840 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - witb - item {
        padding: 30 px 0
    }
    .pd - witb - item+ .pd - witb - item[class *=small -] {
        border - top: none
    }
    .pd - acgraph {
        width: 260 px;
        width: 100 %
    }
    .pd - acgraph.pd - acgraph - icon {
        max - width: none
    }
}
.pd - acgraph.pd - acgraph - table {
    width: 100 %;
    border - bottom: 1 px solid# d6d6d6;
    margin - bottom: 21 px
}
.pd - acgraph.pd - acgraph - icon {
    padding - top: 5 px;
    padding - right: 16 px;
    padding - bottom: 14 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - acgraph th {
        width: 8 %
    }
}
.pd - acgraph.pd - acgraph - year1, .pd - acgraph.pd - acgraph - year2, .pd - acgraph.pd - acgraph - year3 {
    padding - top: 10 px;
    vertical - align: top
}
.pd - acgraph.pd - acgraph - bar {
    position: relative;
    display: inline - block;
    width: 387 px;
    height: 4 px;
    background - color: #d6d6d6;
    vertical - align: top
}
.pd - acgraph.pd - acgraph - year2, .pd - acgraph.pd - acgraph - year3 {
    padding - left: 8 px
}
.pd - acgraph.pd - acgraph - year2.pd - acgraph - bar, .pd - acgraph.pd - acgraph - year3.pd - acgraph - bar {
    background - color: #e02a2b
}
.pd - acgraph.pd - acgraph - description {
    margin - top: -15 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - acgraph.pd - acgraph - bar {
        width: 100 %
    }
    .pd - acgraph.pd - acgraph - year1 {
        width: 39.6 %
    }
    .pd - acgraph.pd - acgraph - year2 {
        width: 42.4 %
    }
    .pd - acgraph.pd - acgraph - legend - wrap {
        text - align: left
    }
}
.pd - acgraph.pd - acgraph - row+ .pd - acgraph - row.pd - acgraph - icon {
    padding - top: 0;
    padding - bottom: 26 px
}
.pd - acgraph.pd - acgraph - row+ .pd - acgraph - row.pd - acgraph - year1.pd - acgraph - bar: after {
    position: absolute;
    right: 0;
    width: 70.9 %;
    height: 4 px;
    background - color: #e02a2b;
    content: ""
}
.pd - acgraph.pd - acgraph - row+ .pd - acgraph - row.pd - acgraph - year1, .pd - acgraph.pd - acgraph - row+ .pd - acgraph - row.pd - acgraph - year2, .pd - acgraph.pd - acgraph - row+ .pd - acgraph - row.pd - acgraph - year3 {
    padding - top: 5 px
}
.pd - acgraph.pd - acgraph - legend {
    margin - left: 55 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - acgraph.pd - acgraph - legend {
        margin - left: 8 px
    }
}
.pd - acgraph.pd - acgraph - dot {
    margin - top: -1 px;
    width: 12 px;
    height: 12 px;
    - webkit - border - radius: 6 px;
    - moz - border - radius: 6 px;
    border - radius: 6 px;
    background - color: #d6d6d6;
    vertical - align: middle
}
.pd - acgraph.pd - acgraph - learn {
    margin: 0 39 px 0 12 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - acgraph.pd - acgraph - learn {
        margin: 30 px 0 0
    }
}
.pd - acgraph.pd - acgraph - dot, .pd - acgraph.pd - acgraph - learn, .pd - acgraph.pd - acgraph - legend {
    display: inline - block
}
.pd - acgraph.pd - acgraph - label {
    display: inline
}
.pd - acgraph.pd - acgraph - legend+ .pd - acgraph - legend {
    margin - left: 23 px
}
.pd - acgraph.pd - acgraph - legend+ .pd - acgraph - legend.pd - acgraph - dot {
    background - color: #e02a2b
}
.pd - acgraph.pd - acgraph - description, .pd - acgraph.pd - acgraph - label, .pd - acgraph.pd - acgraph - link {
    font - size: 14 px;
    line - height: 1.29;
    font - weight: 400;
    letter - spacing: 0;
    color: #666
}
.pd-acgraph .pd-acgraph-description:lang(zh), .pd-acgraph .pd-acgraph-label:lang(zh), .pd-acgraph .pd-acgraph-link:lang(zh) {
    font-size: 12px
}
.pd-acgraph.pd-acgraph-three .pd-acgraph-bar {
    width: 255px
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-acgraph .pd-acgraph-legend+.pd-acgraph-legend {
        margin-left: 8px
    }
    .pd-acgraph.pd-acgraph-three .pd-acgraph-bar {
        width: 100%
    }
    .pd-acgraph.pd-acgraph-three .pd-acgraph-year1 {
        width: 29%
    }
    .pd-acgraph.pd-acgraph-three .pd-acgraph-year2 {
        width: 31.5%
    }
    .pd-acgraph.pd-acgraph-three .pd-acgraph-year3 {
        width: 31%
    }
}
.mac-cto-accessories .pd-acgraph.pd-acgraph-three {
    width: 100%
}
.mac-cto-accessories .pd-acgraph.pd-acgraph-three th {
    width: 8%
}
.mac-cto-accessories .pd-acgraph.pd-acgraph-three .pd-acgraph-bar {
    width: 100%
}
.mac-cto-accessories .pd-acgraph.pd-acgraph-three .pd-acgraph-year1 {
    width: 29%
}
.mac-cto-accessories .pd-acgraph.pd-acgraph-three .pd-acgraph-year2 {
    width: 31.5%
}
.mac-cto-accessories .pd-acgraph.pd-acgraph-three .pd-acgraph-year3 {
    width: 31%
}
.pd-acgraph.pd-acgraph-overlay {
    width: 650px
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-acgraph.pd-acgraph-overlay {
        width: 100%
    }
}
.pd-acgraph.pd-acgraph-overlay .pd-acgraph-bar {
    width: 294px
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-acgraph.pd-acgraph-overlay .pd-acgraph-bar {
        width: 100%
    }
    .pd-acgraph.pd-acgraph-overlay th {
        width: 8%
    }
}
.pd-acgraph.pd-acgraph-overlay.pd-acgraph-three .pd-acgraph-bar {
    width: 192px
}
.pd-acgraph.pd-acgraph-overlay.pd-acgraph-three .pd-acgraph-learn {
    display: block;
    margin-left: 58px;
    padding-top: 18px
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-acgraph.pd-acgraph-overlay.pd-acgraph-three .pd-acgraph-bar {
        width: 100%
    }
    .pd-acgraph.pd-acgraph-overlay.pd-acgraph-three .pd-acgraph-learn {
        margin-left: 0;
        padding-top: 0
    }
}
.pd-acgraph.pd-acgraph-extend .pd-acgraph-row+.pd-acgraph-row .pd-acgraph-bar:after, .pd-acgraph.pd-acgraph-extend .pd-acgraph-year2 .pd-acgraph-bar {
    background-color: # d6d6d6
}
.pd - acgraph p {
    margin: 0
}
.pd - acdetails {
    width: 730 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - acdetails {
        width: 100 %
    }
    .pd - acdetails.pd - acdetails - column+ .pd - acdetails - column {
        padding - top: 47 px
    }
}
.pd - acdetails.pd - acdetails - header {
    font - size: 32 px;
    line - height: 1.13;
    font - weight: 300;
    letter - spacing: 0;
    padding - top: 18 px
}
.pd - acdetails.pd - acdetails - header html.oldie.pd - iphone - 201603 - productfamily.pd - font - 42 - 200, .pd - acdetails.pd - acdetails - header html.oldie.pd - iphone - 201609 - productfamily.pd - font - 42 - 200, .pd - acdetails.pd - acdetails - header html.oldie.pd - witb - iphone - 6 - 201505. pd - witb - header, html.oldie.pd - acdetails.pd - acdetails - header.pd - acdetails - header, html.oldie.pd - iphone - 201603 - productfamily.pd - acdetails.pd - acdetails - header.pd - font - 42 - 200, html.oldie.pd - iphone - 201609 - productfamily.pd - acdetails.pd - acdetails - header.pd - font - 42 - 200, html.oldie.pd - witb - iphone - 6 - 201505. pd - acdetails.pd - acdetails - header.pd - witb - header {
    font - family: "Myriad Set Pro 300", "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans - serif
}
html.oldie.pd - acdetails.pd - acdetails - header {
    font - weight: 400
}
.pd - acdetails.pd - acdetails - header: lang(ar) html.oldie.pd - iphone - 201603 - productfamily.pd - font - 42 - 200: lang(ar), .pd - acdetails.pd - acdetails - header: lang(ar) html.oldie.pd - iphone - 201609 - productfamily.pd - font - 42 - 200: lang(ar), .pd - acdetails.pd - acdetails - header: lang(ar) html.oldie.pd - witb - iphone - 6 - 201505. pd - witb - header: lang(ar), html.oldie.pd - acdetails.pd - acdetails - header: lang(ar).pd - acdetails - header: lang(ar), html.oldie.pd - iphone - 201603 - productfamily.pd - acdetails.pd - acdetails - header: lang(ar).pd - font - 42 - 200: lang(ar), html.oldie.pd - iphone - 201609 - productfamily.pd - acdetails.pd - acdetails - header: lang(ar).pd - font - 42 - 200: lang(ar), html.oldie.pd - witb - iphone - 6 - 201505. pd - acdetails.pd - acdetails - header: lang(ar).pd - witb - header: lang(ar) {
    font - family: "Gulf 300", Gulf, "Myriad Set Pro 300", "Myriad Set Pro", Helvetica, Arial, sans - serif
}
.pd - acdetails.pd - acdetails - header: lang(ja - JP) html.oldie.pd - iphone - 201603 - productfamily.pd - font - 42 - 200: lang(ja - JP), .pd - acdetails.pd - acdetails - header: lang(ja - JP) html.oldie.pd - iphone - 201609 - productfamily.pd - font - 42 - 200: lang(ja - JP), .pd - acdetails.pd - acdetails - header: lang(ja - JP) html.oldie.pd - witb - iphone - 6 - 201505. pd - witb - header: lang(ja - JP), html.oldie.pd - acdetails.pd - acdetails - header: lang(ja - JP).pd - acdetails - header: lang(ja - JP), html.oldie.pd - iphone - 201603 - productfamily.pd - acdetails.pd - acdetails - header: lang(ja - JP).pd - font - 42 - 200: lang(ja - JP), html.oldie.pd - iphone - 201609 - productfamily.pd - acdetails.pd - acdetails - header: lang(ja - JP).pd - font - 42 - 200: lang(ja - JP), html.oldie.pd - witb - iphone - 6 - 201505. pd - acdetails.pd - acdetails - header: lang(ja - JP).pd - witb - header: lang(ja - JP) {
    font - family: "Apple TP 300", "Apple TP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans - serif
}
.pd - acdetails.pd - acdetails - header: lang(ko - KR) html.oldie.pd - iphone - 201603 - productfamily.pd - font - 42 - 200: lang(ko - KR), .pd - acdetails.pd - acdetails - header: lang(ko - KR) html.oldie.pd - iphone - 201609 - productfamily.pd - font - 42 - 200: lang(ko - KR), .pd - acdetails.pd - acdetails - header: lang(ko - KR) html.oldie.pd - witb - iphone - 6 - 201505. pd - witb - header: lang(ko - KR), html.oldie.pd - acdetails.pd - acdetails - header: lang(ko - KR).pd - acdetails - header: lang(ko - KR), html.oldie.pd - iphone - 201603 - productfamily.pd - acdetails.pd - acdetails - header: lang(ko - KR).pd - font - 42 - 200: lang(ko - KR), html.oldie.pd - iphone - 201609 - productfamily.pd - acdetails.pd - acdetails - header: lang(ko - KR).pd - font - 42 - 200: lang(ko - KR), html.oldie.pd - witb - iphone - 6 - 201505. pd - acdetails.pd - acdetails - header: lang(ko - KR).pd - witb - header: lang(ko - KR) {
    font - family: "Yoon Gothic 300", "Yoon Gothic", "Apple Gothic", "HY Gulim", MalgumGothic, "HY Dotum", "Lexi Gulim", "Helvetica Neue", Helvetica, Arial, sans - serif
}
.pd - acdetails.pd - acdetails - header: lang(th - TH) html.oldie.pd - iphone - 201603 - productfamily.pd - font - 42 - 200: lang(th - TH), .pd - acdetails.pd - acdetails - header: lang(th - TH) html.oldie.pd - iphone - 201609 - productfamily.pd - font - 42 - 200: lang(th - TH), .pd - acdetails.pd - acdetails - header: lang(th - TH) html.oldie.pd - witb - iphone - 6 - 201505. pd - witb - header: lang(th - TH), html.oldie.pd - acdetails.pd - acdetails - header: lang(th - TH).pd - acdetails - header: lang(th - TH), html.oldie.pd - iphone - 201603 - productfamily.pd - acdetails.pd - acdetails - header: lang(th - TH).pd - font - 42 - 200: lang(th - TH), html.oldie.pd - iphone - 201609 - productfamily.pd - acdetails.pd - acdetails - header: lang(th - TH).pd - font - 42 - 200: lang(th - TH), html.oldie.pd - witb - iphone - 6 - 201505. pd - acdetails.pd - acdetails - header: lang(th - TH).pd - witb - header: lang(th - TH) {
    font - family: "Sukhumvit Set 300", "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans - serif
}
.pd - acdetails.pd - acdetails - header: lang(zh - CN) html.oldie.pd - iphone - 201603 - productfamily.pd - font - 42 - 200: lang(zh - CN), .pd - acdetails.pd - acdetails - header: lang(zh - CN) html.oldie.pd - iphone - 201609 - productfamily.pd - font - 42 - 200: lang(zh - CN), .pd - acdetails.pd - acdetails - header: lang(zh - CN) html.oldie.pd - witb - iphone - 6 - 201505. pd - witb - header: lang(zh - CN), html.oldie.pd - acdetails.pd - acdetails - header: lang(zh - CN).pd - acdetails - header: lang(zh - CN), html.oldie.pd - iphone - 201603 - productfamily.pd - acdetails.pd - acdetails - header: lang(zh - CN).pd - font - 42 - 200: lang(zh - CN), html.oldie.pd - iphone - 201609 - productfamily.pd - acdetails.pd - acdetails - header: lang(zh - CN).pd - font - 42 - 200: lang(zh - CN), html.oldie.pd - witb - iphone - 6 - 201505. pd - acdetails.pd - acdetails - header: lang(zh - CN).pd - witb - header: lang(zh - CN) {
    font - family: "HanHei SC 300", "HanHei SC", "PingHei 300", PingHei, "PingFang SC", STHeitiSC - Light, "Helvetica Neue", Helvetica, Arial, sans - serif
}
.pd - acdetails.pd - acdetails - header: lang(zh - HK) html.oldie.pd - iphone - 201603 - productfamily.pd - font - 42 - 200: lang(zh - HK), .pd - acdetails.pd - acdetails - header: lang(zh - HK) html.oldie.pd - iphone - 201609 - productfamily.pd - font - 42 - 200: lang(zh - HK), .pd - acdetails.pd - acdetails - header: lang(zh - HK) html.oldie.pd - witb - iphone - 6 - 201505. pd - witb - header: lang(zh - HK), .pd - acdetails.pd - acdetails - header: lang(zh - MO) html.oldie.pd - iphone - 201603 - productfamily.pd - font - 42 - 200: lang(zh - MO), .pd - acdetails.pd - acdetails - header: lang(zh - MO) html.oldie.pd - iphone - 201609 - productfamily.pd - font - 42 - 200: lang(zh - MO), .pd - acdetails.pd - acdetails - header: lang(zh - MO) html.oldie.pd - witb - iphone - 6 - 201505. pd - witb - header: lang(zh - MO), html.oldie.pd - acdetails.pd - acdetails - header: lang(zh - HK).pd - acdetails - header: lang(zh - HK), html.oldie.pd - acdetails.pd - acdetails - header: lang(zh - MO).pd - acdetails - header: lang(zh - MO), html.oldie.pd - iphone - 201603 - productfamily.pd - acdetails.pd - acdetails - header: lang(zh - HK).pd - font - 42 - 200: lang(zh - HK), html.oldie.pd - iphone - 201603 - productfamily.pd - acdetails.pd - acdetails - header: lang(zh - MO).pd - font - 42 - 200: lang(zh - MO), html.oldie.pd - iphone - 201609 - productfamily.pd - acdetails.pd - acdetails - header: lang(zh - HK).pd - font - 42 - 200: lang(zh - HK), html.oldie.pd - iphone - 201609 - productfamily.pd - acdetails.pd - acdetails - header: lang(zh - MO).pd - font - 42 - 200: lang(zh - MO), html.oldie.pd - witb - iphone - 6 - 201505. pd - acdetails.pd - acdetails - header: lang(zh - HK).pd - witb - header: lang(zh - HK), html.oldie.pd - witb - iphone - 6 - 201505. pd - acdetails.pd - acdetails - header: lang(zh - MO).pd - witb - header: lang(zh - MO) {
    font - family: "HanHei TC 300", "HanHei TC", "MHei 300", MHei, "PingFang HK", STHeitiTC - Light, "Helvetica Neue", Helvetica, Arial, sans - serif
}
.pd - acdetails.pd - acdetails - header: lang(zh - TW) html.oldie.pd - iphone - 201603 - productfamily.pd - font - 42 - 200: lang(zh - TW), .pd - acdetails.pd - acdetails - header: lang(zh - TW) html.oldie.pd - iphone - 201609 - productfamily.pd - font - 42 - 200: lang(zh - TW), .pd - acdetails.pd - acdetails - header: lang(zh - TW) html.oldie.pd - witb - iphone - 6 - 201505. pd - witb - header: lang(zh - TW), html.oldie.pd - acdetails.pd - acdetails - header: lang(zh - TW).pd - acdetails - header: lang(zh - TW), html.oldie.pd - iphone - 201603 - productfamily.pd - acdetails.pd - acdetails - header: lang(zh - TW).pd - font - 42 - 200: lang(zh - TW), html.oldie.pd - iphone - 201609 - productfamily.pd - acdetails.pd - acdetails - header: lang(zh - TW).pd - font - 42 - 200: lang(zh - TW), html.oldie.pd - witb - iphone - 6 - 201505. pd - acdetails.pd - acdetails - header: lang(zh - TW).pd - witb - header: lang(zh - TW) {
    font - family: "HanHei TC 300", "HanHei TC", "MHei 300", MHei, "PingFang TC", STHeitiTC - Light, "Helvetica Neue", Helvetica, Arial, sans - serif
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - acdetails.pd - acdetails - header {
        font - size: 24 px;
        line - height: 1.17;
        font - weight: 300;
        letter - spacing: 0
    }
}
.pd - acdetails.pd - acdetails - header: lang(th) {
    line - height: 1.22
}
.pd - acdetails.pd - acdetails - header: lang(zh) {
    font - size: 30 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - acdetails.pd - acdetails - header: lang(th) {
        line - height: 1.29
    }
    .pd - acdetails.pd - acdetails - header: lang(zh) {
        font - size: 22 px
    }
    .pd - acdetails.pd - acdetails - header {
        padding - top: 12 px
    }
}
.pd - acdetails.pd - acdetails - subcopy {
    padding - top: 13 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - acdetails.pd - acdetails - subcopy {
        padding - top: 9 px
    }
}
.pd - acdetails.pd - acdetails - strong {
    font - size: 18 px;
    line - height: 1.44;
    font - weight: 600;
    letter - spacing: 0;
    padding - top: 37 px;
    padding - bottom: 4 px
}
html.oldie.pd - acdetails.pd - acdetails - strong.pd - acdetails - strong {
    font - family: "Myriad Set Pro 600", "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans - serif
}
html.oldie.pd - acdetails.pd - acdetails - strong {
    font - weight: 400
}
html.oldie.pd - acdetails.pd - acdetails - strong: lang(ar).pd - acdetails - strong: lang(ar) {
    font - family: "Gulf 600", Gulf, "Myriad Set Pro 600", "Myriad Set Pro", Helvetica, Arial, sans - serif
}
html.oldie.pd - acdetails.pd - acdetails - strong: lang(ja - JP).pd - acdetails - strong: lang(ja - JP) {
    font - family: "Apple TP 600", "Apple TP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans - serif
}
html.oldie.pd - acdetails.pd - acdetails - strong: lang(ko - KR).pd - acdetails - strong: lang(ko - KR) {
    font - family: "Yoon Gothic 600", "Yoon Gothic", "Apple Gothic", "HY Gulim", MalgumGothic, "HY Dotum", "Lexi Gulim", "Helvetica Neue", Helvetica, Arial, sans - serif
}
html.oldie.pd - acdetails.pd - acdetails - strong: lang(th - TH).pd - acdetails - strong: lang(th - TH) {
    font - family: "Sukhumvit Set 600", "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans - serif
}
html.oldie.pd - acdetails.pd - acdetails - strong: lang(zh - CN).pd - acdetails - strong: lang(zh - CN) {
    font - family: "HanHei SC 600", "HanHei SC", "PingHei 600", PingHei, "PingFang SC", STHeitiSC - Light, "Helvetica Neue", Helvetica, Arial, sans - serif
}
html.oldie.pd - acdetails.pd - acdetails - strong: lang(zh - HK).pd - acdetails - strong: lang(zh - HK), html.oldie.pd - acdetails.pd - acdetails - strong: lang(zh - MO).pd - acdetails - strong: lang(zh - MO) {
    font - family: "HanHei TC 600", "HanHei TC", "MHei 600", MHei, "PingFang HK", STHeitiTC - Light, "Helvetica Neue", Helvetica, Arial, sans - serif
}
html.oldie.pd - acdetails.pd - acdetails - strong: lang(zh - TW).pd - acdetails - strong: lang(zh - TW) {
    font - family: "HanHei TC 600", "HanHei TC", "MHei 600", MHei, "PingFang TC", STHeitiTC - Light, "Helvetica Neue", Helvetica, Arial, sans - serif
}
.pd - acdetails.pd - acdetails - list {
    margin: 0;
    list - style - type: none
}
.pd - acdetails.pd - acdetails - item {
    padding - bottom: 7 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - acdetails.pd - acdetails - strong {
        padding - top: 30 px
    }
    .carrier - fianance - overlay {
        width: 100 %
    }
}
.carrier - fianance - overlay.info {
    color: #333;
    padding: 70px 124px
}
.carrier-fianance-overlay h2 {
    display: block;
    font-size: 40px;
    line-height: 1.15em;
    font-weight: 300;
    text-align: center
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .carrier-fianance-overlay .info {
        padding: 0 0 40px
    }
    .carrier-fianance-overlay h2 {
        font-size: 32px;
        text-align: center
    }
}
.carrier-fianance-overlay .superscript {
    font-size: 15px;
    vertical-align: super
}
.carrier-fianance-overlay .details .lead {
    color: # 333
}
.carrier - fianance - overlay.details div, .carrier - fianance - overlay.details p {
    font - size: 20 px;
    line - height: 1.2e m;
    margin - left: 2 %;
    margin - right: 2 %
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .carrier - fianance - overlay.details div, .carrier - fianance - overlay.details p {
        font - size: 18 px;
        padding - top: 20 px;
        margin: 0
    }
}
.carrier - fianance - overlay.details p {
    color: #666;
    padding-top: 10px
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .carrier-fianance-overlay .details p {
        padding-top: 20px;
        color: # 333
    }
}
.carrier - fianance - overlay.lead {
    color: #333
}
.carrier-fianance-overlay .details .superscript, .carrier-fianance-overlay .details sup {
    font-size: 11px;
    vertical-align: super;
    line-height: 1.45455em
}
.carrier-fianance-overlay .details .tableheader {
    color: # 333;
    padding: 0 0 15 px;
    margin - top: 36 px;
    border - top: 1 px solid# d6d6d6
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .carrier - fianance - overlay.details.tableheader {
        padding: 0;
        margin - top: 0;
        border - top: none
    }
    .carrier - fianance - overlay.details center {
        margin - top: 43 px;
        border - top: 1 px solid# d6d6d6;
        padding - top: 25 px
    }
}
.carrier - fianance - overlay table {
    width: 100 %
}
.carrier - fianance - overlay td, .carrier - fianance - overlay th {
    height: 39 px;
    font - size: 14 px;
    white - space: nowrap;
    padding: 10 px 0;
    vertical - align: middle;
    color: #666
}
.carrier-fianance-overlay th {
    text-align: left
}
.carrier-fianance-overlay td:first-child, .carrier-fianance-overlay th {
    color: # 333;
    padding - left: 9 px;
    white - space: normal
}
.carrier - fianance - overlay tbody tr: nth - child(odd) {
    background - color: #f2f2f2
}
.carrier - fianance - overlay td: first - child {
    padding - left: 20 px;
    width: 25 %;
    white - space: normal
}
.carrier - fianance - overlay.details p.footnotes {
    color: #888;
    font-size: 14px;
    line-height: 1.28571;
    margin: 20px
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .carrier-fianance-overlay .details p.footnotes {
        font-size: 14px;
        padding-top: 40px;
        margin: 0;
        color: # 333;
        background: #fff
    }
}
.carrier - fianance - overlay.details h2 {
    font - size: 30 px;
    margin - top: 59 px
}
.carrier - fianance - overlay h2 sup {
    font - size: 15 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .carrier - fianance - overlay.details h2 {
        margin - top: 11 px
    }
    .carrier - fianance - overlay tbody td, .carrier - fianance - overlay thead th {
        display: none;
        height: 60 px;
        font - size: 16 px
    }
    .carrier - fianance - overlay tbody tr td {
        width: 21 %;
        font - weight: 400;
        vertical - align: top;
        white - space: normal;
        padding: 20 px 0 8 px
    }
    .carrier - fianance - overlay tbody tr td.selected - column {
        display: table - cell
    }
    .carrier - fianance - overlay tbody th {
        width: 34 %;
        font - weight: 600;
        padding: 20 px 10 px 8 px;
        vertical - align: top
    }
    .carrier - fianance - overlay.details div.as - dropdown {
        padding: 0 0 32 px
    }
    .verizon - finance - overlay {
        width: 100 %
    }
}
.pd - iphone - 201603 - productfamily, .pd - iphone - 201609 - productfamily {
    text - align: center;
    width: 100 %
}
.verizon - finance - overlay.info {
    color: #333;
    padding: 110px 113px 64px
}
.verizon-finance-overlay h2 {
    display: block;
    font-size: 40px;
    line-height: 1.15em;
    font-weight: 300;
    text-align: center;
    padding-bottom: 31px
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .verizon-finance-overlay .info {
        padding: 0 0 40px
    }
    .verizon-finance-overlay h2 {
        font-size: 32px;
        text-align: center
    }
}
.verizon-finance-overlay .details div, .verizon-finance-overlay .details p {
    font-size: 16px;
    line-height: 1.5em;
    margin-left: 2%;
    margin-right: 2%
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .verizon-finance-overlay .details div, .verizon-finance-overlay .details p {
        margin: 0
    }
}
.verizon-finance-overlay .details p {
    color: # 333;
    padding - top: 0
}
.verizon - finance - overlay.details.lead {
    font - weight: 600;
    padding - top: 9 px
}
.verizon - finance - overlay.details p.footnotes {
    color: #999;
    font-size: 12px;
    line-height: 1.25;
    margin: 0 2%;
    padding-top: 26px
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .verizon-finance-overlay .details p.footnotes {
        margin: 0;
        background: # fff
    }
    .pd - iphone - 201603 - productfamily {
        overflow: scroll
    }
}
.pd - iphone - 201603 - productfamily.pd - iphone - 201603 - color - fa, .pd - iphone - 201609 - productfamily.pd - iphone - 201609 - color - fa {
    background - color: #fafafa
}
.pd - iphone - 201603 - productfamily.pd - font - 42 - 200 {
    font - size: 42 px;
    line - height: 1.14;
    font - weight: 300;
    letter - spacing: 0
}
html.oldie.pd - iphone - 201603 - productfamily.pd - font - 42 - 200 {
    font - weight: 400
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - iphone - 201603 - productfamily.pd - font - 42 - 200 {
        font - size: 28 px;
        line - height: 1.14;
        font - weight: 300;
        letter - spacing: 0
    }
}
.pd - iphone - 201603 - productfamily.pd - font - 16 - 400 {
    font - size: 16 px;
    line - height: 1.5;
    font - weight: 400;
    letter - spacing: 0
}
.pd - iphone - 201603 - productfamily.pd - font - 14 - 400 {
    font - size: 14 px;
    line - height: 1.29;
    font - weight: 400;
    letter - spacing: 0
}
.pd - iphone - 201603 - productfamily.pd - billboard - info {
    padding: 94 px 0 25 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - iphone - 201603 - productfamily.pd - billboard - info {
        padding - top: 45 px;
        padding - bottom: 31 px
    }
}
.pd - iphone - 201603 - productfamily.pd - billboard - link {
    padding - top: 8 px
}
.pd - iphone - 201603 - productfamily.pd - billboard - products {
    padding - bottom: 65 px;
    line - height: 0
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - iphone - 201603 - productfamily.pd - billboard - link {
        padding - top: 11 px
    }
    .pd - iphone - 201603 - productfamily.pd - billboard - products {
        margin: 0 - 16 %;
        padding - bottom: 53 px;
        padding - left: 17 px;
        overflow - x: auto;
        white - space: nowrap;
        overflow - y: scroll;
        - webkit - overflow - scrolling: touch
    }
}
.pd - iphone - 201603 - productfamily.pd - billboard - products::-webkit - scrollbar {
    display: none
}
.pd - iphone - 201603 - productfamily.pd - billboard - product {
    display: inline - block;
    padding - bottom: 74 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - iphone - 201603 - productfamily.pd - billboard - product {
        padding - left: 27 px;
        overflow - x: auto;
        padding - bottom: 8 px
    }
}
.pd - iphone - 201603 - productfamily.pd - billboard - product.iphone6splus+ .pd - billboard - product.iphone6s {
    padding - left: 5 %
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - iphone - 201603 - productfamily.pd - billboard - product.iphone6splus+ .pd - billboard - product.iphone6s {
        padding - left: 10 %
    }
}
.pd - iphone - 201603 - productfamily.pd - billboard - product.iphone6plus {
    padding - left: 5 %
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - iphone - 201603 - productfamily.pd - billboard - product.iphone6plus {
        padding - left: 10 %
    }
}
.pd - iphone - 201603 - productfamily.pd - billboard - product.iphone6 {
    padding - left: 5 %
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - iphone - 201603 - productfamily.pd - billboard - product.iphone6 {
        padding - left: 10 %
    }
}
.pd - iphone - 201603 - productfamily.pd - billboard - product.iphone6+ .pd - billboard - product.iphone5s {
    padding - left: 5 %
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - iphone - 201603 - productfamily.pd - billboard - product.iphone6+ .pd - billboard - product.iphone5s {
        padding - left: 10 %
    }
}
.pd - iphone - 201603 - productfamily.pd - billboard - product.iphone5s+ .pd - billboard - product.iphone5c {
    padding - left: 5 %
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - iphone - 201603 - productfamily.pd - billboard - product.iphone5s+ .pd - billboard - product.iphone5c {
        padding - left: 10 %
    }
}
.pd - iphone - 201603 - productfamily.pd - billboard - product.iphonese {
    padding - left: 5 %
}
.pd - iphone - 201603 - productfamily.pd - billboard - price {
    color: #999;
    margin-top: -4px
}
.pd-iphone-201603-productfamily .pd-billboard-subheader {
    padding-bottom: 10px
}
.pd-iphone-201603-productfamily .pd-billboard-product-block {
    color: # 333;
    display: inline - block;
    padding - bottom: 10 px
}
.pd - iphone - 201603 - productfamily.pd - billboard - product - block: hover, .pd - iphone - 201603 - productfamily.pd - billboard - product - block: hover.pd - billboard - price {
    color: #08c;
    text-decoration: underline
}
.pd-iphone-201609-productfamily .pd-font-42-200 {
    font-size: 42px;
    line-height: 1.14;
    font-weight: 300;
    letter-spacing: 0
}
html.oldie .pd-iphone-201609-productfamily .pd-font-42-200 {
    font-weight: 400
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-iphone-201603-productfamily .pd-billboard-product.iphonese {
        padding-left: 10%
    }
    .pd-iphone-201603-productfamily .pd-billboard-product:last-child {
        padding-right: 20%
    }
    .pd-iphone-201603-productfamily .pd-billboard-subheader {
        margin-top: 11px
    }
    .pd-iphone-201609-productfamily {
        overflow: scroll
    }
    .pd-iphone-201609-productfamily .pd-font-42-200 {
        font-size: 28px;
        line-height: 1.14;
        font-weight: 300;
        letter-spacing: 0
    }
}
.pd-iphone-201609-productfamily .pd-font-16-400 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0
}
.pd-iphone-201609-productfamily .pd-font-14-400 {
    font-size: 14px;
    line-height: 1.29;
    font-weight: 400;
    letter-spacing: 0
}
.pd-iphone-201609-productfamily .pd-billboard-info {
    padding: 56px 0 41px
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-iphone-201609-productfamily .pd-billboard-info {
        padding-top: 45px;
        padding-bottom: 31px
    }
}
.pd-iphone-201609-productfamily .pd-billboard-link {
    padding-top: 2px
}
.pd-iphone-201609-productfamily .pd-billboard-products {
    line-height: 0
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-iphone-201609-productfamily .pd-billboard-link {
        padding-top: 11px
    }
    .pd-iphone-201609-productfamily .pd-billboard-products {
        margin: 0 -16%;
        padding-bottom: 53px;
        padding-left: 17px;
        overflow-x: auto;
        white-space: nowrap;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch
    }
}
.pd-iphone-201609-productfamily .pd-billboard-products::-webkit-scrollbar {
    display: none
}
.pd-iphone-201609-productfamily .pd-billboard-product {
    display: inline-block;
    padding-bottom: 63px
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-iphone-201609-productfamily .pd-billboard-product {
        padding-left: 27px;
        overflow-x: auto;
        padding-bottom: 8px
    }
}
.pd-iphone-201609-productfamily .pd-billboard-product.iphone7plus+.pd-billboard-product.iphone7 {
    padding-left: 5%
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-iphone-201609-productfamily .pd-billboard-product.iphone7plus+.pd-billboard-product.iphone7 {
        padding-left: 10%
    }
}
.pd-iphone-201609-productfamily .pd-billboard-product.iphone6splus {
    padding-left: 5%
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-iphone-201609-productfamily .pd-billboard-product.iphone6splus {
        padding-left: 10%
    }
}
.pd-iphone-201609-productfamily .pd-billboard-product.iphone6s {
    padding-left: 5%
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-iphone-201609-productfamily .pd-billboard-product.iphone6s {
        padding-left: 10%
    }
}
.pd-iphone-201609-productfamily .pd-billboard-product.iphonese {
    padding-left: 5%
}
.pd-iphone-201609-productfamily .pd-billboard-price {
    color: # 999;
    margin - top: -4 px
}
.pd - iphone - 201609 - productfamily.pd - billboard - subheader {
    padding - bottom: 10 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - iphone - 201609 - productfamily.pd - billboard - product.iphonese {
        padding - left: 10 %
    }
    .pd - iphone - 201609 - productfamily.pd - billboard - product: last - child {
        padding - right: 20 %
    }
    .pd - iphone - 201609 - productfamily.pd - billboard - subheader {
        margin - top: 11 px
    }
}
.pd - iphone - 201609 - productfamily.pd - billboard - product - block {
    color: #333;
    display: inline-block;
    padding-bottom: 10px
}
.pd-iphone-201609-productfamily .pd-billboard-product-block:hover, .pd-iphone-201609-productfamily .pd-billboard-product-block:hover .pd-billboard-price {
    color: # 08 c;
    text - decoration: underline
}
.pd - witb - iphone - 6 - 201505. pd - witb - item {
    padding: 14 px 0
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - witb - iphone - 6 - 201505. pd - witb - item {
        padding: 7 px 0
    }
}
.pd - witb - iphone - 6 - 201505. pd - witb - item h3 {
    padding: 6 px 0 0;
    color: #666
}
.pd-witb-iphone-6-201505 .pd-witb-hero {
    padding: 18px 0
}
.pd-witb-iphone-6-201505 .pd-witb-hero h3 {
    padding: 6px 0 0;
    color: # 333
}
.pd - witb - iphone - 6 - 201505. pd - witb - header {
    font - size: 42 px;
    line - height: 1.14;
    font - weight: 300;
    letter - spacing: 0;
    padding: 55 px 0 35 px
}
html.oldie.pd - witb - iphone - 6 - 201505. pd - witb - header {
    font - weight: 400
}
.pd - witb - iphone - 6 - 201505. row {
    width: 853 px;
    margin: 0 auto
}
.pd - witb - iphone - 6 - 201505. pd - witb - column+ .pd - witb - column {
    height: auto
}
# bts2015 - content.as - radiolist - pricedelta.price - delta {
    display: none
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .pd - witb - iphone - 6 - 201505. pd - witb - header {
        font - size: 28 px;
        line - height: 1.14;
        font - weight: 300;
        letter - spacing: 0;
        padding: 25 px 0 9 px
    }
    .pd - witb - iphone - 6 - 201505. pd - witb - item - 2 {
        padding - top: 20 px
    }
    .pd - witb - iphone - 6 - 201505. pd - witb - item - 3 {
        padding - top: 15 px
    }
    .pd - witb - iphone - 6 - 201505. row {
        width: auto
    }
    purchase - options.as - bfpurchase - options.as - form - choiseselectordesc {
        margin - top: 11 px
    }
    .as - dimension - color.as - dimension - choicesbox {
        min - width: 0;
        padding - top: 0
    }
}
purchase - options.as - bfpurchase - options.as - purchaseoptions - dimensionheader {
    margin - top: 0;
    line - height: 0
}
purchase - options.as - bfpurchase - options.as - purchaseoptions - dimensionheader span {
    margin - top: 20 px;
    line - height: 1.1;
    display: inline - block
}
.as - purchaseinfo - pricedetails.as - price - installment - overlay, html.br.as - price - installments> br {
    display: block
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .as - dimension - color.form - choice - selector {
        width: 60 px;
        margin: 0 auto
    }
}
@media only screen and(max - device - width: 768 px) and(max - width: 736 px) {
    .rs - purchaseinfo - availabilityinfo.as - retailavailabilitytrigger - infoblock.as - purchaseinfo - availabilityicons+ div {
        margin - left: 30 px
    }
    .rs - purchaseinfo - availabilityinfo.as - retailavailabilitytrigger - infoblock.as - purchaseinfo - availabilityicons+ div> * {
        margin - left: 0
    }
}
.rs - modularaccessory_overlay.as - singlepartdescription - headline {
    padding: 0
}
.rs - purchaseinfo - availabilityinfo> div {
    padding - right: 10 px
}
.rs - purchaseinfo - availabilityinfo.as - purchaseinfo - buactriggerblock {
    margin - right: 0
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) and(orientation: landscape) {
    .as - purchasesummary {
        padding - bottom: 280 px
    }
}
.rs - dims.rs - dims - visible {
    display: inline
}
.pd - overlay - 201508 - applecare {
    font - size: 16 px;
    line - height: 1.5;
    font - weight: 400;
    letter - spacing: 0;
    width: 647 px
}
.pd - overlay - 201508 - applecare: lang(zh) {
    font - size: 14 px
}
.pd - overlay - 201508 - applecare.pd - acgraph {
    margin: 11 px 0 0
}
.pd - overlay - 201603 - payments {
    padding: 100 px 70 px 0;
    text - align: left;
    color: #666
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .pd-overlay-201508-applecare {
        width: inherit
    }
    .pd-overlay-201603-payments {
        padding: 0
    }
}
.pd-overlay-201603-payments p {
    margin: 0 0 1em
}
.pd-overlay-201603-payments .pd-overlay-title {
    font-weight: 500;
    color: # 555;
    padding - bottom: 0;
    margin - bottom: 0
}
.pd - overlay - 201603 - payments.pd - overlay - callout {
    text - align: center;
    color: #333;
    background-color: # fafafa;
    padding: 20 px;
    margin: 0 0 20 px
}
.pd - overlay - 201603 - payments.pd - overlay - callout p {
    padding: 0;
    margin: 0
}
.as - singlepartdescription - learnmore {
    text - align: center
}
.as - singlepartdescription - learnmore.pd - overlay - link {
    font - size: 16 px;
    line - height: 1.5;
    font - weight: 400;
    letter - spacing: 0
}
.as - singlepartdescription - learnmore.pd - overlay - link: lang(zh) {
    font - size: 14 px
}
.as - bfaccessory - overlay.applecare_overlay.pd - overlay - footnotes {
    font - size: 14 px;
    line - height: 1.29;
    font - weight: 400;
    letter - spacing: 0
}
.as - bfaccessory - overlay.applecare_overlay.pd - overlay - footnotes: lang(zh) {
    font - size: 12 px
}
@media only screen and(max - width: 736 px) and(max - device - width: 768 px) {
    .as - singlepartdescription - learnmore {
        margin - top: 27 px
    }
    .as - bfaccessory - overlay.applecare_overlay.pd - overlay - footnotes {
        color: #999
    }
    .as-chatonline {
        padding: 6px 0 30px
    }
}
.as-singlepartdescription-infographic {
    margin-top: 0
}
.as-overlay-content {
    padding: 70px 39px 70px 75px
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .as-overlay-content {
        padding: 52px 5% 5%
    }
}
.as-singlepartdescription .as-l-container {
    padding: 19px 48px 15px
}
@media only screen and (max-width:736px) and (max-device-width:768px) {
    .as-singlepartdescription .as-l-container {
        padding: 0
    }
    .as-singlepartdescription-add button {
        box-sizing: border-box
    }
    .as-singlepartdescription-headline {
        padding-left: 0
    }
}
.as-accessories-results .as-producttile-info {
    min-height: 8em
}
.br .as-sortselect-tag {
    width: 86px
}
.nl-be .as-sortselect-tag {
    width: 76px
}
.cz .as-sortselect-tag {
    width: 68px
}
.hu .as-sortselect-tag {
    width: 53px
}
.nl .as-sortselect-tag {
    width: 76px
}
.pt .as-sortselect-tag {
    width: 86px
}
.ru .as-sortselect-tag {
    width: 60px
}
.tr .as-sortselect-tag {
    width: 65px
}
.as-pinwheel-carousel-wrapper .as-pinwheel-header {
    border-bottom: none
}
